.parent-container{
    background-color: khaki;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cat{
    width: 100ox;
    height: auto;
}

.link-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-grow: 1;
}

@media (min-width: 400px){
    .parent-container{
        background-color: forestgreen;
    }

    .link-container{
        flex-direction: row;
    }
}

@media (min-width: 850px){
    .parent-container{
        background-color: deeppink;
    }
}