.parent {
    background-color: beige;
    border: 2px solid black;
    padding: 5px;
    height: 250vh;
    width: 250vw;
    position: relative;
    overflow-x: scroll;
}

.parent > div {
    padding: 5px;
}

body {
    position: relative;
}

.static {
    background-color: cadetblue;
    position: static;
}

.relative {
    background-color: chartreuse;
    position: relative;
    /* top: 25px;
    left: 25px; */
}

.absolute  {
    background-color: crimson;
    position: absolute;
    top: 50vh;
    left: 0;
}

/* .absolute2  {
    background-color: darkred;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.fixed {
    background-color: darkorchid;
    position: fixed;
    top: 50px;
}

.sticky {
    background-color: goldenrod;
    position: sticky;
    top: 10px;
    left: 10px;
    width: 25%;
}